<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mybatis-db.properties"/>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
    </settings>
    <typeAliases>
        <typeAlias type="topics.mybatis.MyBatisStudent" alias="MyBatisStudent"/>
        <typeAlias type="topics.mybatis.MyBatisStudentSummary" alias="MyBatisStudentSummary"/>
        <typeAlias type="topics.mybatis.MyBatisCustomer" alias="MyBatisCustomer"/>
        <typeAlias type="topics.mybatis.MyBatisOrder" alias="MyBatisOrder"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="topics/mybatis/MyBatisStudentMapper.xml"/>
        <mapper resource="topics/mybatis/MyBatisOrderCustomerMapper.xml"/>
    </mappers>
</configuration>
